<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>homePage</ion-title>
  </ion-navbar>

</ion-header>



<ion-content padding>
      <button ion-button (click)="clickHandler()">Click this button</button>
      <button ion-button (click)="goToFirstPage()">Go to First Page</button>
</ion-content>

